<div id="remove_member_modal" class="modal">
  <div class="modal-content">
    <div class="row">
      <%= form_tag("member/0", :method => :delete, class: "col s12 remove_member_form") do %>
        <div class="row">
          <div class="col s12">
            <h4>Deletar o membro da campanha</h4>
            <p>Você tem certeza que gostaria de apagar o membro da campanha?</p>
          </div>
          <div class="input-field col s12">
            <%= submit_tag("Apagar", class: "btn red right") %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
