.campaigns{
  margin-top: 4%;

  .title{
    color: #e86252;
    font-size: 22px;
    margin-bottom: 5px;
  }

  .campaigns-btn{
    margin-bottom: 40px;
  }

  .cards{
    .card{
      .title{
        font-size: 20px;
      }
      .data{
        color: #aaa;
      }
      .subtitle{
        margin-top: -18px;
        margin-bottom: -6px;
        color: #aaa;
      }
      .status{
        margin-bottom: -8px;
        .visibility-icon{
          font-size: 16px;
        }
        .visibility-text{
          font-size: 14px;
        }
      }
      .enter{
        .btn{
          margin-top: 15%;
          height: 45px;
          padding-top: 5px;
        }
      }
    }
  }

}
